<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

		<p > In the first part of the experiment, you will learn the names for
			ten objects in an alien language. You will see the name for each object four times. Do your best to memorize the name for 				each object. </p>
		<p > In the second part of the experiment, your 
			memory for the names of the objects will be tested. </p>
		
		<p > This experiment is difficult, but please do not cheat by writing down the answers. Just do the best you can.</p>
		
		<p > <i> Please note that you must finish in less than 10 minutes.</i> </p> 
		<p > When you are ready to begin, click the button below. </p>
		
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
